@model List<ClientModel>

@{
    ViewData["Title"] = "Início";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/pages/client/index.css" asp-append-version="true" />

@if (Model.Any())
{
    <div class="container-title">
        <h5>Clientes</h5>
        @Html.ActionLink("+ Cadastrar novo cliente", "Register", "Client", null, new { @class = "btn btn-primary " })
    </div>

    <div class="container-list">
        @foreach (var client in Model)
        {
            <div class="container">
                <div class="title">
                    <div class="infos">
                        <strong>Nome: @client.Name</strong>
                        <div class="infos">
                            @{
                                switch ((int)client.Gender)
                                {
                                    case 0:
                                        <span>Sexo: Masculino</span>
                                        break;
                                    case 1:
                                        <span>Sexo: Feminino</span>
                                        break;
                                    default:
                                        <span>Sexo: Indefinido</span>
                                        break;
                                }
                            }
                            <span>Endereço: @client.Address</span>
                            <span>Celular: @client.PhoneNumber</span>
                        </div>
                    </div>
                </div>

                <div>
                    <a asp-route-id="@client.Id" asp-controller="Client" asp-action="Details">
                        <img src="~/assets/icons/visualizar.png" alt="buttonpng" border="0" style="width: 25px;" />
                    </a>

                    <a asp-route-id="@client.Id" asp-controller="Client" asp-action="Edit">
                        <img src="~/assets/icons/editar.png" alt="buttonpng" border="0" style="width: 25px;" />
                    </a>

                    <a asp-route-id="@client.Id" asp-controller="Client" asp-action="ConfirmDelete">
                        <img src="~/assets/icons/trash.png" alt="buttonpng" border="0" style="width: 25px;" />
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container-empty">
        <div class="img-empty">
            <img src="~/assets/icons/empty.png" />
        </div>
        <div class="title-empty">
            <h1>Nenhum cliente cadastrado</h1>
            @Html.ActionLink("+ Cadastrar", "Register", "Client", null, new { @class = "btn btn-primary " })
        </div>
    </div>
}

